@model IEnumerable<TarefaMVC.Models.Tarefa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            DESCRICAO
        </th>
        <th>
            DATA
        </th>
        <th>
            FEITO
        </th>
        <th>
            NOME
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TARDESCRICAO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TARDATA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TARFEITO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pessoa.NOME)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.TARID }) |
            @Html.ActionLink("Exibir", "Details", new { id=item.TARID }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.TARID })
        </td>
    </tr>
}

</table>
